@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {   
    background-color: #1f476e;
    padding: 20px;
    text-align: center;
    /* margin-top: 5%; */
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
a:hover {
    background-color: lightgrey;
    transition: background-color .5s;
}
.title {
    padding-top: 50px;
    text-align:center;
    color: white;
}
body {
    background-color: rgb(3, 41, 77);
}
.emagem{
    padding-top: 55px;
    border-radius: 09%;
}
.icon {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;

    margin-top: 50px;
} 