@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {   
    border: solid black ;
    background-color: #1f476e;
    padding: 20px;
    text-align: center;
    /* margin-top: 5%; */
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
a:hover {
    background-color: lightgrey;
    transition: background-color .5s;
}
.title {
    padding-top: 50px;
    text-align:center;
    color: white;
}
body {
    background-color: rgb(3, 41, 77);
}
.emagem{
    padding-top: 55px;
    border-radius: 9%;
}
.icon {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;

    margin-top: 50px;
} 
.card {
    border: solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
 
    font-family: Arial, Helvetica, sans-serif;

    background-color: white;
    padding: 15px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.1);
}