@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav {
    background-color: #1f476e;
    padding: 20px;
    text-align: center;
    /* margin-top: 5%; */
}
a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
a:hover {
    background-color: lightgrey;
    transition: background-color .5s;
}
.title {
    text-align:center;
}
body {
    background-color: rgb(3, 41, 77);
}
img {
    width: 220px;
    border-radius: 50%;

}
.card {
    
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;


    background-color: white;
    padding: 15px;
    margin: 15px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.1);
}
