nav {
    text-align: center;
    margin-top: 5%;
}
a {
    text-decoration: none;
    margin-left: 01%;
}
.title {
    text-align:center;
}
body {
    background-color: rgb(134, 132, 132);
}
img {
    width: 220px;

}